body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #7159c1;
}

.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 20vh 70vh 10vh;

    grid-template-areas: "h h" " m a" "f f";
}

header{
    background-color: brown;
   grid-area: h;
}

main{
    background-color: cadetblue;
    grid-area: m;
}

aside{
    background-color: chartreuse;
    grid-area: a;
}

footer{
    background-color: rgb(36, 27, 114);
    grid-area: f;
}
